* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./images/brewhouse.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #7c1f17;

}
p {
  font-size: 16px;
}

button {
  background: none;
  border: none;
  outline: none;
  letter-spacing: 1rem;
}

.spacing {
  letter-spacing: 0.5rem;
}
a {
  text-decoration: none;
  color: #7c1f17;
}
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;

  background-color: rgba(255, 255, 255, 0.664);

  justify-content: space-evenly;
  display: flex;
  /* padding-top: 3rem; */
  flex-direction: column;
  z-index: 1;
}
.links, .links button {
  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: left top 1;
  font-size: 24px;
  text-decoration: none;
  color: #7c1f17;
}
.portfolio {
  text-align: end;
  padding-right: 2rem;
  padding-top: 1.8rem;
}
.portfolio a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1rem;
}
.box1 {
  background: white;
  width: fit-content;
  transform: rotate(-6deg);
  margin-left: 20%;
  margin-top: 250.5px;
  animation: 0.2s ease-in 0s 1 fall;
}

@keyframes fall {
  0% {
    transform: translateY(1rem) rotateZ(-45deg);
    opacity: 0;
  }
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.box1 h1 {
  padding: 0.8rem 2rem 0.2rem 2rem;
  font-weight: normal;
  letter-spacing: 1rem;
  font-size: 36px;
}
.box2 {
  background: white;
  width: fit-content;
  transform: rotate(3deg);
  margin-left: 25%;
  animation: 0.3s ease-in 0s 1 fall;
}
.box2 h1 {
  padding: 0.9rem 2rem 0.1rem 1rem;
  font-weight: normal;
  letter-spacing: 1rem;
  font-size: 36px;
  transform: rotate(4deg);
}
.box3 {
  background: white;
  width: fit-content;
  transform: rotate(-1deg);
  margin-left: 10%;
  margin-top: 0.3rem;
  animation: 0.5s ease-in 0s 1 fall;
  text-align: center;
}
.box3 h1 {
  padding: 0.9rem 2rem 0.1rem 1rem;
  font-weight: normal;
  letter-spacing: 1rem;
  transform: rotate(-1.5deg);
}
.boxWork {
  background: white;
  width: fit-content;
  transform: rotate(-1deg);
  margin-left: 10%;
  margin-top: 0.3rem;
  animation: 0.5s ease-in 0s 1 fall;
  text-align: center;
}
.boxWork h1 {
  padding: 0.9rem 2rem 0.1rem 1rem;
  font-weight: normal;
  letter-spacing: 1rem;
  transform: rotate(-1.5deg);
}
.boxContact {
  background: white;
  width: 300px;
  transform: rotate(-1deg);
  margin-left: 30%;
  margin-top: 0.3rem;
  animation: 0.5s ease-in 0s 1 fall;
  text-align: center;
  padding: 1rem;
}
.boxContact img {
  padding: 0.9rem 2rem 0.1rem 1rem;
  font-weight: normal;
  letter-spacing: 1rem;
  transform: rotate(5deg);
}
.box4 {
  background: white;
  width: 100%;
  transform: rotate(-1deg);
  margin-left: 42%;
  margin-top: -11rem;
  animation: 0.5s ease-in 0s 1 fall;
}
.box4 p {
  padding: 0.9rem 2rem 0.9rem 1rem;
  font-weight: normal;

  transform: rotate(-1deg);
}

.about {
  display: none;
}
.work {
  display: none;
}
.contact {
  display: none;
}

@media only screen and (max-width: 950px) {
  .box1 {
    margin-top: 120px;

  }
  .box2 {
    margin-top: 1rem;
  }

  .box4 {
    width: 80%;
    margin-left: 20%;
    margin-top: 0.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .portfolio {
   
    padding-right: 1rem;
    padding-top: .8rem;
  }
  .box3 {
    
    transform: rotate(83deg);
    margin-left: 10%;
    margin-top: 11rem;
    animation: 0.5s ease-in 0s 1 fall;
    
  }
  .boxWork {
    transform: rotate(60deg);
    margin-left: 25%;
    margin-top: 7rem;
    animation: 0.5s ease-in 0s 1 fall;
  }
  .boxWork h1 {
    font-size: 16px;
    letter-spacing: .1rem;
  }
  
  .sidenav {
    width: 4rem;
    padding-bottom: 4rem;
  }
  .box1 {
    margin-top: 50px;

  }
  .box2 {
    margin-top: 1rem;
  }

  .box4 {
    margin-top: 0.3rem;
  }
  .boxContact {
    margin-left: 10%;
  
  }
  .links {
    font-size: 16px;
  }
  .box1 h1, .box2 h1, .box3 h1 {
    font-size: 24px;
  }
  a, .portfolio a {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
}
